[2020-05-02 12:10] b-m-f opened #1 "Add screenshots to readme"
It would be nice to add some Screenshots/ Gifs to the readme that show the App in action.

[2020-05-04 10:29] b-m-f opened #2 "Validate IPv6 inputs"
When IPv6 addresses are entered on the `DeviceRow` component they should be verfied to be correct before updating the store.

[2020-05-04 10:32] b-m-f opened #3 "Test DeviceWidget on the Dashboard"
Create a  test flow for adding devices in a new file under `tests`

- test that devices cant be added without a server
- add a server
- test that adding devices work
- test that deletion works
- test that you can not add a device with wrong attributes
- test that editing works and wont allow adding incorrect configurations
- test that the download works
- test that QR codes are generated for mobil

[2020-05-04 10:34] b-m-f opened #4 "Store in TypeScript"
The store is getting complicated!

To keep the state types properly implemented across the application TypeScript should be implemented on the store, and **ONLY** the store.

Hopefully this will allow for easy auto-completion and type checking where necessary across the whole application.

[2020-05-04 10:35] b-m-f opened #5 "Unit tests for Rust wasm"

[2020-05-04 10:36] b-m-f opened #6 "Unit tests for Core"
Test the Core endpoints using [warp test helpers](https://docs.rs/warp/0.2.2/warp/test/index.html)

[2020-05-04 10:37] b-m-f opened #7 "Documentation about WireGuard on iOS"
Add documentation about how to add a WireGuard configuration on iOS

[2020-05-04 10:37] b-m-f opened #8 "Documentation about WireGuard on Android"
Add documentation about how to add a WireGuard configuration on Android

[2020-05-04 10:38] b-m-f opened #9 "Documentation about WireGuard on Windows"
Add documentation about how to add a WireGuard configuration on Windows

[2020-05-04 10:38] b-m-f opened #10 "Documentation about WireGuard on Mac"
Add documentation about how to add a WireGuard configuration on Mac

[2020-05-04 10:39] b-m-f opened #11 "Documentation about WireGuard on Linux"
Add documentation about how to add a WireGuard configuration on Linux

[2020-05-04 19:53] b-m-f opened #12 "Add tests for the settings Widget"
The settings Import and Export function should be tested

[2020-05-04 19:53] b-m-f opened #13 "Add tests for the settings Widget"
The settings Import and Export function should be tested

[2020-05-04 19:53] b-m-f opened #14 "Add tests for import/export feature"
The settings Import and Export function should be tested

[2020-05-04 19:54] #12 closed

[2020-05-04 19:54] #13 closed

[2020-05-05 10:08] b-m-f commented on #8
Added in https://github.com/b-m-f/Wirt/commit/10f6a3b030bac709d01a632ef9ede72d053df853

[2020-05-05 10:08] #8 closed

[2020-05-05 10:08] b-m-f commented on #9
Added in https://github.com/b-m-f/Wirt/commit/f9a7f0365356c20bc82e1e44f52c3e2bd5e268ea

[2020-05-05 10:08] #9 closed

[2020-05-05 19:35] b-m-f opened #15 "Pasted IP on IPInput"
https://www.reddit.com/r/homelab/comments/ge0vdf/make_your_homelab_available_over_the_internet/

Would be nice to detect if a full IP is pasted and distribute this over all the inputs.

[2020-05-06 10:15] b-m-f opened #17 "Hostname in tutorial"
Sometimes it might be preferable to use the hostname of the server in the Tutorial flow.

The quickest way here would be to add a link to `/dashboard`, indicating that your setup needs to be done via the DashBoard directly

[2020-05-06 10:18] b-m-f opened #18 "Execute e2e test on push/merge into master"
The `test:e2e:headless` task should run when changes get into the master branch.

[2020-05-20 05:58] b-m-f opened #21 "Rename connected to "WirtBot installed""

[2020-05-20 05:58] b-m-f opened #22 "Readd routed checkbox to clients to enable traffic forwarding through server"
''

[2020-05-24 15:32] rosh1ck commented on #21
Hi!
Is this what you need?
https://github.com/b-m-f/Wirt/pull/23/files

[2020-05-25 07:20] b-m-f commented on #21
Hi @rosh1ck ,

Thats exactly it. Thank you!

[2020-05-25 07:20] #21 closed

[2020-06-06 09:24] grollum opened #24 "[WirtBot] Access device by name"
Hi there. I started playing with this project, like it a lot :)
My use case is to setup a VPN with certain services (e.g. a Nextcloud) for a closed group of people/devices.  I understand that the "Server" aka the wirtbot is meant to be the broker to all devices configured, thus the Nextcloud would be added as device to this network to be then accessible by all other devices. Thus people need to kn

[2020-06-07 08:42] b-m-f commented on #24
Hi @grollum ,

Sounds like an amazing idea.
How would the DNS resolution work on the clients?
Might be that this should be added to the `wg-quick` tool? Or maybe another wrapper such as `wg-quick` needs to be written for this.
It could read the config and set the routes on the client depending on its OS.

The frontend would need no changes for now from what I see. Could just use `DEVICE_NAME.inter

[2020-06-08 12:25] grollum commented on #24
I was more thinking in the direction of running a real DNS service like bind9 on the host wirtbot resides at. This bind9 should manage a zone like .my-people.local and resolve requests to DEVICE.my-people.local to the IPs configured by wirtui. Devices` wireguard configs should then have a line `DNS = WIRTBOT_IP`. As this zone config could be accomplished by managing a text file a first simple impl

[2020-06-08 13:21] b-m-f commented on #24
Since the secure communication from UI to the Bot is already established this way of updating sounds good to me.

Why reinvent the wheel here.
Using a proven DNS server seems like a good solution.

One thing to make sure:
- bind Server only on WireGuard interface

This way the DNS should be secured sufficiently and I don't see why DNS shouldn't be resolved inside the network

[2020-06-08 13:22] b-m-f commented on #24
Let me know if you have any questions!
The UI can use the device names as the name for the DNS entry. Will make this simpler

[2020-06-08 14:55] grollum commented on #24
thanks a lot for your feedback and input :+1:
I made a quick test setup using dnsmasq. With such a config:
`
domain-needed
bogus-priv

domain=my-people.local
expand-hosts
local=/my-people.local/

listen-address=127.0.0.1
listen-address=10.10.0.1
bind-interfaces
server=8.8.8.8
server=1.1.1.1
`
we could simple add each device, 1 per line, to the `/etc/hosts` file of the dnsmasq host like this:
`WIRE

[2020-06-08 14:58] grollum commented on #24
Please let me know again what you think about it :)

[2020-06-08 21:49] ShayBox opened #26 "Not saving settings"
It's not saving Expert mode, Server name, or WirtBot installed, they get reset on refresh.

EDIT:
CORS problem when trying to check the WirtBot toggle, bypassing that leads to `TypeError: Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected 'application/wasm'`

[2020-06-09 11:16] b-m-f commented on #24
I like the idea, but I have a question.

Why do we need
[code]
?

From how I see your solution with `dnsmasq` it will resolve any internal ones but forward all others to Cloudflares and Googles DNS servers.
What I would want to avoid is passing all DNS requests through the Cluster when they should only be resolved there in the case of hitting an internal hostname.

So my laptop resolving the IP fo

[2020-06-09 13:01] grollum commented on #24
Thanks again for the good questions :)
I get your points but do not agree with everything. Let's dig into it and start with the client behavior when using wireguards DNS config setting. On my test machine (ubuntu 20.04) this adds a line to `/etc/resolv.conf` like this

[code]

(For now, let's assume any other OS behaves the same, surely needs testing)

Given the above, your desired behavior client

[2020-06-11 09:59] b-m-f opened #29 "Correctly execute GitHub actions on PullRequest"
Execute tests when opening a PR

[2020-06-11 10:01] b-m-f opened #30 "Fix checkbox styling"
The following shows a problem with the checkbox styling on Firefox.

![bug_checkbox](https://user-images.githubusercontent.com/2843450/84372328-3bf01a00-abdb-11ea-8ca2-1d1a6a4d68e5.gif)

It should not rotate when active

[2020-06-11 11:24] b-m-f opened #31 "Automatically build Release on tag"
Whenever a new release is tagged with `v*` the WirtBot binary and frontend should be build by a GitHub action, and a new release created.

[2020-06-11 11:41] b-m-f opened #32 "Move from website to electron app?"
This will have some benefits:

- easier CORS
- no limitations on using Sockets
- Can use other tools such as SSH for issuing commands
- Less problems with responsivity

# Things to consider:
- automatic release building
- website needs to updated to reflect the change. Use [hugo](gohugo.io) and merge Docs with a homepage.

[2020-06-13 12:52] #29 closed

[2020-06-13 15:17] grollum commented on #24
Yes I will take care about documentation :)

Frankly speaking, you lost me with your first point. I understand the threat but not the solution. Only thing I can add is that fiddling with resolv.conf manually is very specific and will not even work for all linux devices out there, not to speak about any other OS.

Besides that I started implementation now :)

[2020-06-17 10:44] b-m-f commented on #24
Sorry for the long time to respond.

The solution I was thinking about is to append instead of prepending the WirtBot server as a nameserver in `/etc/resolv.conf` :)
As I understand it this should do a lookup on the normal Nameserver first, and if nothing is found the WirtBot nameserver is used.

Here is an example with appending and prepending:

## Prepending
### Resolve `google.com`
Ask Wirt nam

[2020-06-18 18:37] grollum commented on #24
thanks a lot for the details. I get it. Then again I don't think this is a feasable solution.
For a starter, this would have to be implemented individually for all device/OS combinations, not even all linux systems work with resolvconf.
Also I'm not convinced that WirtBot should implement defensive measures against this threat client-side . Users in this scenario move trust to the respective WirtB

[2020-06-18 18:44] grollum commented on #24
Implementation wise I have questions on how to proceed (took me a bit to get used to rust initially). Right now the WirtBot gets requests containing the already rendered config for the wireguard interface. Shall I implement the DNS feature that way that the WirtUI sends already rendered content for the WirtBot's hostfile as well or shall I send device information in json structure to leave the for

[2020-06-19 06:52] b-m-f commented on #24
Hey @grollum,

Thanks again for the feedback, I see your point about the threat level. Adding docs about potential security risks should be the best solution!

Regarding the payload I believe a new endpoint that accepts a hostsfile is a good solution.

If warp or Rust gets annoying feel free to open a PR at any level of readiness and I will be happy to give it a try

[2020-06-19 11:31] grollum commented on #24
Thanks :)
I'll implement a new endpoint then and send it a pre-rendered hosts file. I'll get along with rust/warp no worries ;) UI wise I'll trigger a post to the new endpoint along with the general server update

[2020-07-08 09:26] b-m-f commented on #24
Hi @grollum ,

Hows this issue getting along?

[2020-07-12 13:15] grollum commented on #24
Hey @b-m-f sorry for the radio silence, got quite distracted by personal issues. I'm almost done with the rust/warp part, just managed my first successful request and will open a PR so you can start having a look on this.

[2020-07-14 12:25] b-m-f commented on #24
No worries! Take it at your own pace!
Ill try to review this week, but from a quick glimpse over the code it looked good :)

[2020-08-15 10:05] b-m-f commented on #32
Wont do for now. Might be reopened at some other point in time

[2020-08-15 10:05] #32 closed

[2020-08-15 10:06] b-m-f commented on #18
This was done

[2020-08-15 10:06] #18 closed

[2020-08-15 10:08] b-m-f commented on #24
@grollum To keep you updated:

- I have merged your endpoint work into master.
- I will now implement sending the names, given in the Interface when they are updated to the server
- Then I will provide a new ansible script that sets up everything, including DNS, as I believe it provides amazing UX and should be the default

Thanks again for the good work and feel free to jump in with new ideas and

[2020-08-15 10:53] b-m-f commented on #24
Given the flexibility of https://coredns.io I am opting for this tool as the DNS server

[2020-08-15 13:34] b-m-f opened #40 "Create ansible script to spawn WirtBot"
Create a script that takes:

- public key of interface
- Hostname where DNS is configured to point to the server
- SSHkey (optional)
- SSH password. Enforce minimum of 64 chars (not used when key is provided)

to run a playbook that will spawn a fully functioning WirtBot.
Use Debian10 as the base.

- Only allow port 3030 to be open on the Ethernet, even SSH should be closed.
- Allow all traffic on

[2020-08-16 18:16] b-m-f commented on #24
Alright @grollum. Everything is merged and Forwarding enabled.

I am currently preparing a blog post where I will go into more detail. Ill link it here when its published to hopefully answer all your questions :) Thanks again for the help, it was nice to work against a functioning API.

[2020-08-16 18:35] b-m-f commented on #40
Done in https://github.com/b-m-f/Wirt/pull/39

[2020-08-16 18:35] #40 closed

[2020-08-16 18:37] b-m-f commented on #26
@ShayBox just rolled out DNS in cluster. I will fix this next!

[2020-08-16 18:37] b-m-f commented on #24
done in https://github.com/b-m-f/Wirt/pull/39

[2020-08-16 18:37] #24 closed

[2020-08-16 18:37] b-m-f commented on #22
Done

[2020-08-16 18:37] #22 closed

[2020-08-16 19:19] b-m-f opened #41 "Replace space in names with hyphen when generating DNS records"

[2020-08-17 16:50] b-m-f commented on #41
Done

[2020-08-17 16:50] #41 closed

[2020-08-17 17:12] b-m-f commented on #26
Hi @ShayBox,

Saving the attributes should be fixed now.

Could you retest the WASM problem and provide some more info for me to reproduce this?

[2020-08-18 13:53] b-m-f opened #42 "Allow additional DNS server per device"
- add new attribute to the devices in the store
- Add input component/field (maybe a multi-select) to `Device` Component in expert mode that allows to specify additional DNS servers that device will have in its WireGuard configuration.
- Prefill the multi-select with DNS servers available on other devices, use a computed property and access the state to loop over the devices to get this data
- Use

[2020-08-18 16:45] b-m-f opened #43 "Tutorial update to reflect current flow"
The tutorial still assumes that the server comes first. Since a valid domain name is needed + a key must be specified the Tutorial should reflect this.

- Add a page to print the Key and link to the setup page. This is directly after asking if a server is available!
- Remove the `IP input` and instead ask the user for the **domain name**

[2020-08-20 20:40] b-m-f opened #44 "update git developer docs"
- PR to master that triggers test-ci

[2020-08-20 20:42] b-m-f opened #45 "put WirtBot manual setup from docs to developer-docs and link there"
If you wanna do it manually you will learn dig deeper.
Developer docs are the correct place.

[2020-08-20 20:54] b-m-f opened #46 "Update WirtBot DNS file default location"
- Point the default location to `/etc/coredns/Corefile`

[2020-08-20 20:55] b-m-f opened #47 "Create architecture docs"
- Describe SystemD linking
- Describe docker networking
- Describe Firewall rules
- Describe User setup
- Describe Fail2Ban

[2020-08-21 07:34] b-m-f opened #48 "ServerWidget update to current state of setup"
- IP and Port should be hidden in Expert mode
- Hostname should not be hidden in Export mode
- Remove connected to WirtBot as this is a prerequisite

[2020-08-21 07:35] b-m-f opened #49 "Add test-wirtbot connection"
Add a button to the Server Widget that tests the connection with the WirtBot and throws appropriate errors

[2020-08-22 13:37] b-m-f opened #55 "Update CI workflow"
# Idea
- run full test-suite on merge into master
- Only release new docker images when a new version is tagged

[2020-08-23 13:19] b-m-f opened #56 "Add compatibility mode"
- add checkbox for compatibility mode
- if checked add `MTU=1320` to the device configuration

# Why MTU=1320
This will set the package size to be big enough to work with WireGuard and small enough to stop timeouts from happening on bad networks

[2020-08-23 18:44] #55 closed

[2020-08-23 20:29] b-m-f opened #58 "Adding a new device on mobile does not work when in expert mode"

[2020-08-30 16:13] b-m-f commented on #58
Could not reproduce this! Mustve been some caching error with an earlier version

[2020-08-30 16:13] #58 closed

[2020-09-02 22:32] b-m-f commented on #42
A zone that is meant for the additional DNS server must be provided to ignore it in CoreDNS

[2020-09-26 19:07] ypid opened #61 "Use DebOps for config management"
You stated it yourself on https://wirt.network/

You might want to checkout https://docs.debops.org/en/master/. We are a group of committed sysadmins who are putting down all our experience into DebOps so that you don’t have to. I am referring to this: https://github.com/b-m-f/Wirt/tree/master/ansible/tasks Do you really want to maintain that long term :) ?

PS: I am currently working on getting W

[2020-09-30 08:52] b-m-f commented on #61
@ypid Thanks for the idea.

I will give it a look and see how I could integrate it.

There is still a lot of customization that will be needed.

Could you gimme a quick rundown on how to apply them onto a secure base comming from DebOps?

[2020-09-30 20:45] ypid commented on #61
There are a few ways. You could integrate debops as a git submodule into https://github.com/b-m-f/Wirt/tree/master/ansible. This way you stay fully in control. Then you could use Ansible inventory variables to do those things instead of your tasks doing them:

* Enable maintenance user for maintenance with ssh key provided
* Firewall only allows Port 22, 3030, Wireguard port 21212, 80 and 443
* in

[2020-10-01 06:35] b-m-f commented on #61
@ypid Thank you.

the Strict Host key checking is a good catch! thank you :)

I like the idea of integrating a common base, but I think I would wait a bit until your change is included into the master.

Could you ping me here when that is done? Thanks alot for all the info

[2020-10-01 21:08] ypid commented on #61
Heads up, I guess I will do this in two steps. First I just want to solve my use case and gain experience from running WireGuard. Then I will leave the role laying a bit, not yet in DebOps master. Then in a second step, 2021, bring the role to perfection including extensive docs and into DebOps. Like https://docs.debops.org/en/master/ansible/roles/cryptsetup/index.html

So I guess I will ping you

[2020-10-05 22:14] ypid commented on #61
All right, step 1 is working now. You may start using it. Step 2 will take a while (months to years).

[2020-10-06 09:45] b-m-f commented on #31
For now only the latest version is published.

[2020-10-06 09:45] #31 closed

[2020-10-06 18:19] #42 closed

[2020-10-06 18:35] b-m-f opened #63 "Fix broken layout after adding additional DNS servers"
![Screenshot from 2020-10-06 20-27-32](https://user-images.githubusercontent.com/2843450/95245484-7b3e1880-0813-11eb-9579-dbeaf4506b81.png)

[2020-10-07 07:37] b-m-f commented on #30
Actually quite a nice visual feedback. Going to keep for now

[2020-10-07 07:37] #30 closed

[2020-10-07 16:37] #56 closed

[2020-10-07 16:37] #63 closed

[2020-10-08 18:45] #3 closed

[2020-10-10 15:04] b-m-f opened #67 "Installer as NPM package"
Set up the CI to publish the installer as an NPM package and update the docs accordingly

[2020-10-10 15:34] #67 closed

[2020-10-15 20:04] b-m-f opened #70 "Convert TODOs to tickets"

[2020-10-15 20:05] b-m-f opened #71 "Remove releases from the repo"
The releases are not useful as everything is done with Docker now

[2020-10-15 20:56] b-m-f opened #72 "Fix mobile layout"
The newly added features:

- additional DNS
- MTU

changed the layout of a device quite a bit.

Unfortunately this has caused some issues for mobile layouts and needs to be fixed.

[
![Screenshot from 2020-10-06 19-37-18](https://user-images.githubusercontent.com/2843450/96185036-9a3a5a00-0f39-11eb-84c6-b21ade504ddc.png)
](url)

[2020-10-15 20:57] b-m-f opened #73 "Fix column layout on desktop device row"
![Screenshot from 2020-10-12 14-55-08](https://user-images.githubusercontent.com/2843450/96185102-b211de00-0f39-11eb-986b-832bebc9d44a.png)

The buttons should be aligned.

This misaligment can be observed when a QR code is rendered

[2020-10-15 21:03] b-m-f opened #74 "Lock down dependencies"
Set specific versions on all dependencies in npm packages.

DevDependencies can be ignored.

Simply choose the latest version at time of locking it

[2020-10-17 20:10] #74 closed

[2020-10-18 09:05] #72 closed

[2020-10-18 09:05] #73 closed

[2020-10-18 12:27] b-m-f opened #83 "Docker file ordering"
Right now, each module/package/sub-project has its own docker folder.

Since the repo should stay a mono-repo the Files should be located in a `build-automation` folder in the root of the repo.

# Things to do

- Extract WirtBot docker files
- Extract Website docker files
- Extract Interface docker files
- Create one folder for all `docker-compose` files and give the files appropriate names
- Merg

[2020-10-18 13:34] b-m-f opened #86 "Entering IPv4 deletes other settings"
When first entering things like **additional DNS** or **MTU** and then the **IPv4**, the **MTU** and **additional DNS** get deleted.

Needs some investigation and a fix

[2020-10-18 15:40] sdhiman99 commented on #86
Hi! I'd like to take this up. To start with, can you guide me towards the required Component?

[2020-10-18 16:11] b-m-f commented on #86
Hu @sdhiman99 ,

the component that has this functionality is https://github.com/b-m-f/WirtBot/blob/master/Interface/src/components/DeviceRow.vue .

I would begin looking on the function that the IP input triggers!

[2020-10-19 05:28] b-m-f opened #91 "IPv6 does not accept lower case letters"
Caught by @sdhiman99 .

IPv6 inputs do not seem to allow lower-case letters

[2020-10-19 05:28] b-m-f commented on #86
Fixed in #88

[2020-10-19 05:28] #86 closed

[2020-10-19 07:06] b-m-f opened #93 "Firefox mobile opens in Desktop mode"
Due to https://github.com/vuejs/vuepress/issues/2607 Firefox Mobile keeps opening in Desktop mode.

Watch the issue and upgrade vuepress when it is fixed to fix this bug

[2020-10-19 10:45] #91 closed

[2020-10-19 15:24] b-m-f opened #95 "Fix Backup creation"
At the moment the backup is stringified twice when created.

Creation is done in https://github.com/b-m-f/WirtBot/blob/master/Interface/src/Widgets/Dashboard/Settings.vue#L51

and the import happens in https://github.com/b-m-f/WirtBot/blob/master/Interface/src/Widgets/Dashboard/Settings.vue#L83.
During import the JSON is parsed again at https://github.com/b-m-f/WirtBot/blob/master/Interface/src/li

[2020-10-19 15:28] b-m-f opened #96 "IPv4 should just be a String"
At the moment the IPv4 is an array of 4 digits.

It should be converted into a string in https://github.com/b-m-f/WirtBot/blob/master/Interface/src/store/index.js#L37 .

This should be done for **both** server and devices.

All Inputs need to be updated as well.

This will be on the Server and Device Widget, who both use https://github.com/b-m-f/WirtBot/blob/master/Interface/src/components/IPInput

[2020-10-19 15:32] b-m-f opened #97 "Installer should accept a different Subnet"
People might want to change subnet.

The installer should support this.

- Add a new question
- Pass the subnet variable to the ansible -> https://github.com/b-m-f/WirtBot/blob/master/Installer/ansible/main.yml (use a default one there, it will be overwritten)
- Use variable in https://github.com/b-m-f/WirtBot/blob/master/Installer/ansible/tasks/templates/server.conf.j2
-

[2020-10-19 15:34] b-m-f opened #98 "State versioning"
The installer https://github.com/b-m-f/WirtBot/blob/master/Installer/index.js and store https://github.com/b-m-f/WirtBot/blob/master/Interface/src/store/index.js both use a state version.

There needs to be a way to sync them. This could probably best be done via https://github.com/b-m-f/WirtBot/tree/master/shared-libs

[2020-10-19 15:36] b-m-f opened #99 "Use media-queries"
At the moment all mobile device detection is done via JavaScript.

This should be refactored into pure `media-query` logic in the Styles.

Functionality should not differ between the plattforms anymore, so JS logic is not necessary.

[2020-10-19 15:40] b-m-f opened #100 "Make it possible to change the IPv6 subnet"
If IPv6 is used it should be possible to change the subnet that is being used.

This is for expert mode only.

For the ticket to be done it needs tests in https://github.com/b-m-f/WirtBot/tree/master/System-Tests/tests/nightwatch/dashboard

[2020-10-19 15:42] b-m-f opened #101 "Validate DNS name"
The action `updateDNSName` in https://github.com/b-m-f/WirtBot/blob/master/Interface/src/store/index.js should verify that a Domain name is valid.

Domain names must only use the letters a to z, the numbers 0 to 9, and the hyphen (-) character.

If the name is invalid the action should throw an error.

The inputs that trigger this action should then provide feedback in case the update failed.

All

[2020-10-19 15:50] b-m-f opened #102 "Make ignored DNS zones configurable"
https://github.com/b-m-f/WirtBot/blob/master/shared-libs/config-generators/src/dns.js is creating `const masterFile` with a few Zones that are ignored.

It should be possible to configure these via https://github.com/b-m-f/WirtBot/blob/master/Interface/src/Widgets/Dashboard/Server.vue .

This needs the default values to be implemented in the default server-config at https://github.com/b-m-f/WirtBo

[2020-10-19 15:57] b-m-f opened #103 "Make sure alerts are not saved into localstorage"
At the moment the whole store is persisted into local storage.

If alerts occur and the page is reloaded, the alerts will stick around, since their removal function will not run.

The alerting logic is at https://github.com/b-m-f/WirtBot/blob/master/Interface/src/store/modules/alerts.js .

This ticket needs a strategy on how to best tackle it before implementation.

When done, the `browser.pause`

[2020-10-19 15:59] b-m-f opened #104 "Extract signature verification into Warp filter"
The WirtBot core (https://github.com/b-m-f/WirtBot/blob/master/WirtBot/src/main.rs )is checking signatures of payloads in both `update` and `update_device_dns_entries`.

Figure out a way to extract this into a [Warp filter](https://docs.rs/warp/0.2.5/warp/trait.Filter.html)

[2020-10-19 16:03] b-m-f opened #105 "Fix !important SCSS usage in DeviceRow"
The [DeviceRow component](https://github.com/b-m-f/WirtBot/blob/master/Interface/src/components/DeviceRow.vue) has 1 SCSS rule that uses `!imporatnt`.

This is because the [DeviceTable component](https://github.com/b-m-f/WirtBot/blob/master/Interface/src/components/DeviceTable.vue) writes a more specific rule.

This is a code smell and has to be fixed

[2020-10-19 19:38] agalewsky-pnn opened #108 "Import ImportThisFileIntoYourWirtBotInterface.json does not do anything"
I have successfully install wirtbot and have connected to the dashboard. However, when I try to import  ImportThisFileIntoYourWirtBotInterface.json as a backup and click the import button - nothing happens.  I can't find any errors thrown.  I have tried Chrome, Firefox and Safari and they all yield the same results.

Any thoughts?

-Andy

[2020-10-20 13:30] b-m-f commented on #108
Hi @agalewsky-pnn / Andy,

Nothing shows up after a refresh either?

Could you paste the output of `ImportThisFileIntoYourWirtBotInterface.json` ?

Just make sure to remove the Keys from the output :)

[2020-10-20 14:19] b-m-f commented on #108
So, I just set up a new WirtBot again and could not reproduce this.

Importing worked without any issues. Are you trying to import on `wirtbot.wirt.internal`?

[2020-10-21 00:43] agalewsky-pnn commented on #108
Let me try again.  Is it important to do it from that address?

On Tue, Oct 20, 2020 at 09:19 Maximilian Ehlers <notifications@github.com>
wrote:

[2020-10-21 06:05] b-m-f commented on #108
Hm, the address should not matter too much.
I am just curious how else you would reach the DashBoard?

[2020-10-21 14:24] agalewsky-pnn commented on #108
I used the IP address, but I think I also tried the DNS name as well.   One
thing I am going to check if I have any popup blockers, etc. engaged on my
browser(s)

On Wed, Oct 21, 2020 at 01:06 Maximilian Ehlers <notifications@github.com>
wrote:

[2020-10-21 14:47] b-m-f commented on #108
@agalewsky-pnn Make sure to access via the internal IP or the Hostname.

There was an uncommented line in the installer. This is fixed now.

Try `npm install -g @wirtbot/installer@1.0.8`. And use the update functionality to get the latest version

[2020-10-21 14:54] b-m-f opened #110 "Create announcement and blog section on the Website"

[2020-10-21 15:08] #110 closed

[2020-10-21 19:12] get-thepacket opened #112 "Steps to configure and build the project is not clear."
I am not able to configure the project.

[2020-10-24 08:01] b-m-f commented on #112
@get-thepacket you will need to provide some more info on what your are trying to do.

[2020-10-24 08:03] b-m-f commented on #26
@ShayBox closing this. Please open a new issue if the problem persists

[2020-10-24 08:03] #26 closed

[2020-10-24 08:07] b-m-f opened #114 "Make DNS server configurable"
- add new DNS widget to Dashboard
- Add input to configure IPv4 DNS server ( currently default at 1.1.1.1 & 1.0.0.1 ) to the widget
- persist DNS server in vuex store
- generate new DNS config on change
- make sure the WirtBot API is called with the changes to make them active
- allow Assigning new DNS names. For example to reach certain ports by name

- add testing to the system tests -> updating

[2020-10-24 09:47] #44 closed

[2020-10-24 09:47] #47 closed

[2020-10-24 09:47] #70 closed

[2020-10-25 00:15] agalewsky-pnn commented on #108
I am getting this error in the browser console:
Uncaught SyntaxError: Unexpected token
 in JSON at position 175
    at JSON.parse (<anonymous>)
    at FileReader.t.onload (Settings.vue:93)

I am using the file generated by the application

-Andy

On Wed, Oct 21, 2020 at 9:47 AM Maximilian Ehlers <notifications@github.com>
wrote:

[2020-10-25 07:39] b-m-f commented on #108
Interesting.

Could you post your JSON as well please?

Just remove the keys beforehand

[2020-10-25 15:41] #95 closed

[2020-10-25 15:43] b-m-f commented on #108
2 more things:

- Have you updated the latest `@wirtbot/installer`?
- Did you already use the `update` functionality of the installer?

[2020-10-26 18:50] b-m-f opened #116 "Add info on how to set up development dependencies"
- Section on `npm install` before running `make dev`
- Consider implementing `npm@7` workspace feature
- needs `g++` in Interface (Ubuntu `build-essential`)
- shared-libs need to be build first. Again check out if the npm@7 workspaces can help

[2020-10-26 19:03] b-m-f opened #117 "Provide better error message when device cant be added because the server is not set up"

[2020-10-26 19:05] b-m-f opened #118 "Update server widget"
The server widget still reflects the old flow of setting it up via a hostname.

This functionality should be hidden in expert mode.

The default mode should include:

- **IP**
- **Port**
- **Optional server name** where the WirtBot can be found at via the internal DNS

[2020-10-27 17:28] #116 closed

[2020-10-27 18:29] b-m-f commented on #112
Hi @get-thepacket ,

I have updated the developer docs at https://wirtbot.com/developer-documentation/ .

Does this make it more clear?

[2020-10-27 18:38] #118 closed

[2020-10-28 18:30] westy opened #123 "Create a docker version for unraid"
As discussed briefly on your Reddit post it'd be nice if you could sort out a version that could run in a docker on unraid.

Cheers

[2020-10-29 15:59] b-m-f commented on #123
This needs:

- single docker image: DONE
- image  build in dockerhub
- updated docs
- update ansible scripts
  - provide ansible upgrade path from old setup
  - OR update the installer to take backups and require a new install

[2020-10-29 18:26] b-m-f commented on #123
@westy would you mind taking a look at https://github.com/b-m-f/WirtBot/pull/124/files ?

Do the [Dockerfile](https://github.com/b-m-f/WirtBot/pull/124/files#diff-4cf6ddfc2326a2466b16aee64e7f15cd207ed612a01ec2f4bff2438b4a68038e) and [Nginx config](https://github.com/b-m-f/WirtBot/pull/124/files#diff-16721127b1a5ac2e16c2962c6fa9ca36a47df7a6e76b94d5ee7541d5febf6122) look good to you?

[2020-10-30 09:40] westy commented on #123
Hi @b-m-f,

I'm no Docker expert I'm afraid, just a keen unraid user with a need to replace Teamviewer for supporting my families computers!

The unraid forums are very active, so you may be able to find some info or help there perhaps: https://forums.unraid.net/forum/58-docker-engine/

I would also suggest trying to build a simple unraid box with whatever hardware you may have lying about. It rea

[2020-10-31 14:55] b-m-f commented on #123
@westy the MR will land in master in a few minutes.

Installing **Unraid** for verification is too much of an edge case for me.

But the Docker image is there and it includes, WirtBot with DashBoard and WireGuard.

If youd like to ask for more support on the Unraid forums here is what is necessary:

- Linux Kernel 5.6 or WireGuard Kernel modules
- `NET_ADMIN` capabilities for WirtBot container to

[2020-11-02 08:55] b-m-f commented on #108
No more info given -> closed

[2020-11-02 08:55] #108 closed

[2020-11-02 18:32] b-m-f opened #125 "Integrate CoreDNS into container"

[2020-11-02 18:37] b-m-f opened #126 "Test WireGuard connection via Containers"
- Use system-tests dockerfile to create a new test-runner
- create Configurations that the test-runner can use to establish a connection to the WirtBot
- test that traffic can flow

Preferably done in Node.js or Rust. But hey, if you love another language simply comment here and lets talk :)

[2020-11-02 18:38] b-m-f opened #127 "Add AdBlocking"
Blocked by
- https://github.com/b-m-f/WirtBot/issues/125
- https://github.com/b-m-f/WirtBot/issues/114
- https://github.com/b-m-f/WirtBot/issues/126

# Tasks
- Checkbox to enable AdBlocking in DNS widget
- Research on how to integrate https://github.com/c-mueller/ads
- Possibility to add comma separated list of additional black lists
- Test full setup and make sure that certain addresses cant be r

[2020-11-02 18:38] b-m-f commented on #83
Done when upgrading into single docker image

[2020-11-02 18:38] #83 closed

[2020-11-02 18:39] b-m-f commented on #49
All running one machine in new setup. Not necessary anymore. If you can reach the Dashboard you are already connected

[2020-11-02 18:39] #49 closed

[2020-11-02 18:40] b-m-f commented on #14
Done by @sdhiman99

[2020-11-02 18:40] #14 closed

[2020-11-03 17:28] westy commented on #123
Thanks @b-m-f, I really appreciate your efforts and the quick turnaround.

I'll try and find time to have a look over the next few days.
I've never tried setting up a docker template myself on unraid, but I guess now's the time to learn :)

[2020-11-03 19:06] b-m-f commented on #114
WIP

[2020-11-03 19:07] b-m-f commented on #123
Let me know if you get stuck on docker things!

If you get WireGuard into the Kernel I am sure itll be straight forward to get the rest done!

[2020-11-04 16:47] b-m-f commented on #114
allow Assigning new DNS names. For example to reach certain ports by name

This is skipped. No need when doing reverse proxying or other things

[2020-11-04 17:15] #114 closed

[2020-11-04 17:53] #98 closed

[2020-11-04 18:53] #71 closed

[2020-11-04 19:09] b-m-f commented on #102
There is already a new DNS widget.

Hooking in for testing is set up. Simply check the `dns.spec.js` file in the **System-Tests**.

This ticket is now UI + dns configuration changes and testing these only

[2020-11-04 19:53] #103 closed

[2020-11-04 19:53] #117 closed

[2020-11-05 13:06] nksky opened #131 "SSH Port issue installation"
Hi,

I am running my SSH port on a different port to 22, eg 1301. I think this is stopping my installation, I am receiving these errors....

TypeError: Cannot read property 'v4' of undefined
    at generateDNSFile (/usr/lib/node_modules/@wirtbot/installer/dist/installer.js:25:34)
    at install (/usr/lib/node_modules/@wirtbot/installer/dist/installer.js:514:31)
    at async main (/usr/lib/node_mod

[2020-11-06 08:39] b-m-f commented on #131
hi @nksky,

I will check and let you know later today

[2020-11-06 11:34] nksky commented on #131
Thank you. Looking forward to trying the platform.

[2020-11-06 15:13] b-m-f commented on #131
hi @nksky ,

So the bug should be fixed in `@wirtbot/installer@1.4.2`.

But there is another thing.
The installer assumes that you have a clean VPS and will apply all security hardening and firewalls based on that.

If you have already got a server set up maybe you'd be better off with using the docker based install?

[2020-11-06 15:14] b-m-f commented on #131
To support custom SSH ports this would need to be added to the installer if youd like to add this functionality.

But be aware that the Firewall is very tight and might block anything else running on the server.

Check the `nftables.conf.j2` file in the repo for more info :)

[2020-11-06 16:00] b-m-f opened #133 "Test Installer"
# Idea
- mock ansible binary for each test case with node (shebang `#! /usr/bin/node`)
  - check that correct parameters are passed to that mock
  -  Verifies that correct files were created in the installer directory (`/tmp/test` since this should be run in docker)

- write `bash`  script that:
  - rename testcase to `/usr/bin/ansible`
  - makes the mock executable with `chmod +x /usr/bin/ansible

[2020-11-06 21:38] qimmiq commented on #131
i would be interessted in custom ssh port aswell :)
beside that im also running an ssh port not being 22 ... i throw that error 'WebAssembly key generation: CompileError: WasmCompile: Wasm decoding failed: mutable globals cannot be exported @+1116
Installation complete'

[2020-11-07 07:55] b-m-f commented on #131
@qimmiq ,

which Version of node do you have installed?

3 things will need to be added for custom SSH ports:

- question about port in installer
- pass port to ansible runner
- set port in sshd config in the ansible task

[2020-11-07 16:50] qimmiq commented on #131
hey @b-m-f thanks for that quick replay.
since i did a fresh whipe of my vps and i still got the error
i think it sth nothing related to ssh. so my node is v8.10.0

[2020-11-08 00:55] b-m-f commented on #131
@qimmiq
Can you upgrade to Nodev14?

I will add this to the docs. Seems needed to execute the WASM for key Generation locally.

[2020-11-10 07:31] #112 closed

[2020-11-13 20:57] #133 closed

[2020-11-14 06:47] b-m-f commented on #131
@qimmiq Were you able to get it running?

[2020-11-14 17:13] qimmiq commented on #131
@b-m-f thanks for checking back ... i did update ... which worked.
but i got stuck at another point. couldnt get a connection. maybe i did sth wrong. but didnt try again

[2020-11-14 21:07] b-m-f commented on #131
@qimmiq Ah, too bad. Any thing that was unclear during the setup.
Could you tell me what connection wasnt working?

Trying to make sure there isnt some bug lurking  :)

[2020-11-15 18:11] qimmiq commented on #131
let me try it again ... in some days.
i will reformat my vps :D and document step by step

[2020-11-15 20:18] b-m-f commented on #131
@qimmiq thanks for the effort!

You can always ping me here for questions!

[2020-11-16 11:05] qimmiq opened #138 "Install problems"
As discussed here we go again.

Fresh VPS
node > 14
install with root.

When setting up.
IP of your server  = VPS?
Public Key = Computer im setting up with
"If you have an SSH key on the server during initial setup" = its the ssh key from my computer i use to ssh into my vps (same as public key from above)

[code]

so did i miss understand sth ?! :)

[2020-11-21 15:50] b-m-f commented on #138
Ok,

looking at your info this could be a bug in the installer.

Maybe you could add another step that asks whether or not Password or PubKey authentification should be used for the setup.

This would need then to be passed to [this function](https://github.com/b-m-f/WirtBot/blob/master/Installer/src/ansible.js#L4 ) where ansible can be called with the correct mode.

[2020-11-22 11:51] #2 closed

[2020-11-23 09:17] #45 closed

[2020-11-23 12:12] #7 closed

[2020-11-23 12:12] #11 closed

[2020-11-24 16:58] nksky commented on #131
Sorry for my late reply on this, No I wasn't able to get it going, Im getting with the port and in turn Ansible error code 4. Have the port options being put in to the installer yet?

[2020-11-24 17:01] nksky commented on #138
I am having similar errors on this.

[2020-11-25 13:17] b-m-f commented on #131
@nksky Nope,
I am currently working on other things.

But if youd like to give it a go I can give you some pointers

[2020-11-25 16:19] #101 closed

[2020-11-26 10:57] qimmiq commented on #131
@b-m-f yes please ...  i give it a try in a spare minute :D

[2020-11-27 01:55] nksky commented on #131
I am busy with work, but will help you out, PM me and I can give you access to my server if you'd like to use it as a test bench.

[2020-11-28 10:55] b-m-f commented on #131
@nksky @qimmiq

Here is a break down of what is needed:

- New question to ask for update https://github.com/b-m-f/WirtBot/blob/master/Installer/index.js#L13
- Same question during installation https://github.com/b-m-f/WirtBot/blob/master/Installer/index.js#L37
- Make sure the port gets passed into https://github.com/b-m-f/WirtBot/blob/master/Installer/src/ansible.js#L4 correctly
- Pass the **ssh_

[2020-11-30 07:54] #125 closed

[2020-11-30 07:55] b-m-f commented on #123
Closing this

[2020-11-30 07:55] #123 closed

[2020-12-05 14:50] b-m-f opened #147 "Implement WireGuard metrics"
Check how to integrate https://github.com/MindFlavor/prometheus_wireguard_exporter on the WirtBot

[2021-01-18 13:58] b-m-f commented on #131
Hi @nksky ,

Still interested in giving this a go?

[2021-01-18 17:40] nksky commented on #131
Absolutely, I will try later tonight and give you an update. Thanks for
this.

On Mon, 18 Jan 2021 at 13:59, Maximilian Ehlers <notifications@github.com>
wrote:

[2021-02-12 13:47] dickiesanders opened #156 "Initial "Import Backup" Errors"
I was able to get WirtBot installed, configure my Wireguard client, and I can reach the [wirtbot.wirt.internal](wirtbot.wirt.internal) but when I try to import the initial backup file to "control" my setup I am receiving the following console errors:

`TypeError: Cannot create property 'version' on string {"version":1.0,"server":{"ip":{"v4":["X","X","X","X"]},"port":10101,"keys":{"private":"=","pu

[2021-02-13 20:08] b-m-f commented on #156
@dickiesanders Interesting.

I am currently working on v2 which removes the installer and changes the setup flow.

It will require more work on the machine as the ansible script is gone.

But to fix this for now can you try to manually add `"version":1.5.8` to the backup file before importing it?

[2021-02-13 20:14] b-m-f commented on #61
@ypid I have removed ansible from the Project scope. So I will close this issue for now

[2021-02-13 20:14] #61 closed

[2021-02-13 20:21] b-m-f commented on #97
Installer is gone in V2. Closing

[2021-02-13 20:21] #97 closed

[2021-02-16 17:08] dickiesanders commented on #156
@b-m-f  - Tried to update the version in my json backup file, but I received the same error as before when importing the file.

[2021-02-16 18:06] b-m-f commented on #156
Interesting. Can you check the version of the installer you have?

There was a bug in older versions where the backup was given a doubly-stringified string -> https://github.com/b-m-f/WirtBot/pull/113

[2021-02-16 18:09] dickiesanders commented on #156
I assume this means I have version 1.5.6 of the installer.
<img width="776" alt="Screen Shot 2021-02-16 at 1 08 22 PM" src="https://user-images.githubusercontent.com/12834880/108103642-372c1180-7058-11eb-9100-21731c15a7a7.png">

[2021-02-16 18:17] b-m-f commented on #156
Seems like the bug is in 1.5.6 but on the installer side.

Found
[code]
As you can see it is stringified twice.

Could you parse it locally once?
Simply type `node` in the terminal and then run `JSON.parse(CONTENT_OF_FILE)`.

Then simply paste the output back into a file and import that on the interface.

[2021-02-16 18:19] b-m-f commented on #156
No need to fix code here, as I have removed the installer for maintenance ease.

Here is a more thorough update https://wirtbot.com/announcements/update-4.html :)

[2021-02-16 18:30] b-m-f commented on #131
Hi @nksky ,

In case you still have a branch around I think its time to delete it :)

Check https://wirtbot.com/announcements/update-4.html#new-setup-flow for info on the new setup which should easily support the custom SSH port now

[2021-02-16 18:30] #131 closed

[2021-02-16 18:31] b-m-f commented on #138
Hi @qimmiq
Please check https://wirtbot.com/announcements/update-4.html#new-setup-flow.

There is now a less opinionated setup flow using only the containerized Core and Interface.

Will close this issue. Please open a new one should you encounter any problems

[2021-02-16 18:31] #138 closed

[2021-02-16 18:39] dickiesanders commented on #156
@b-m-f  - Thank you for your quick replies!

I just refreshed the doc pages and saw the updates from above. I'll kill my setup (close this thread) and start over with the docker and docker-compose setup, which I wanted to use initially. :)

[2021-02-16 18:39] #156 closed

[2021-02-16 18:41] b-m-f commented on #156
@dickiesanders  You are very welcome. Hope it'll work for you.
The latest version 2.2.2 is currently running through the build pipeline

[2021-02-16 21:01] dickiesanders opened #161 "[NEW SETUP] Docker instances consistently restarting"
@b-m-f  - Per our last thread, I blew away my existing setup and followed the updated [setup guide](https://wirtbot.com/documentation/setup.html#dependencies).

After creating my docker-compose.yml file and running `docker-compose -d up && docker logs -f WirtBot` I see several errors, see screenshot, and the containers continually restart. In addition to the container errors, I'm seeing odd permis

[2021-02-17 05:31] b-m-f commented on #161
@dickiesanders thanks for all the details.
Sorry it didn't work for you straight away.

I'll have to do some digging on this and will come back to you!

[2021-02-17 07:51] b-m-f commented on #161
And one more question.

Are you running this on a clean VM/VPS?

[2021-02-17 11:12] dickiesanders commented on #161
@b-m-f - yes, I am running the setup on a clean Ubuntu 20.04.2 install with these four post install steps:

- apt update && apt upgrade -y
- install latest 5.6 kernel
- apt install -y docker.io
- apt install -y docker-compose

(All ran with sudo)

[2021-02-17 11:48] b-m-f commented on #161
Thanks. I will spin up the same setup and try to get a fix out.

I suspect that one of the culprits is the user generation in the Dockerfile.

[2021-02-19 07:15] b-m-f commented on #161
Hi @dickiesanders,

A little update:

## Port 53

This is correct, it will be overwritten with `networkmode: host` and without. Rather, it will fail on Ubuntu as `systemd-resolved` already binds to 53.

If the main DNS from the machine is to be used than the WirtBot can be run without DNS capabilities.

## 998 User?

This one is probably due to the fact that 2 users are being created inside the Do

[2021-02-20 11:11] b-m-f commented on #161
@dickiesanders

## Container crash
The problem is here:
[code]
Make sure to specify the Protocol, most likely `http://`

This should make sure you can get started without crashes

## Users

I will push a new version later today that fixes this.

[2021-02-20 16:48] #161 closed

[2021-02-22 13:02] b-m-f opened #166 "Update Issue"
@dickiesanders FYI:

The DNS is now integrated into the WirtBot container.
Host mode is no longer the default in the setup document either.

Thanks again for the feedback.

[2021-02-25 08:36] #166 closed

[2021-03-03 20:18] #99 closed

[2021-03-03 21:12] b-m-f commented on #105
Was cleared in https://github.com/b-m-f/WirtBot/pull/171

[2021-03-03 21:12] #105 closed

[2021-03-03 21:13] b-m-f commented on #15
https://github.com/b-m-f/WirtBot/issues/96 will take care of this

[2021-03-03 21:13] #15 closed

[2021-03-04 22:17] #96 closed

[2021-03-06 09:47] #100 closed

[2021-03-06 18:02] b-m-f commented on #4
Yup, state is complex.

If in the future there is the need to change the data underlying the frontend significantly this can be done to ensure easier refactoring

[2021-03-06 18:02] #4 closed

[2021-03-06 18:05] b-m-f commented on #126
No need to do this. WireGuard should work fine and does not need to be tested.
If the configurations are wrong, the unit-tests for the config generation should be updated instead.

In addition the effort to implement this is too big for the small gain. Also would not run in Github CI

[2021-03-06 18:05] #126 closed

[2021-03-07 09:20] #102 closed

[2021-03-07 13:16] #127 closed

[2021-03-07 15:01] #147 closed

[2021-03-07 23:32] #6 closed

[2021-03-07 23:32] #104 closed

[2021-03-08 10:49] #1 closed

[2021-03-14 17:37] squromiv opened #182 "CORS policy error"
I`m newbie to wireguard, docker etc. Followed the [installation guide](https://wirtbot.com/documentation/setup.html#initial-setup), but on the step  "Setting up your network" faced with the next errors.
![screen_2021 03 14 002](https://user-images.githubusercontent.com/15985877/111078111-0f1fb900-8505-11eb-9f1a-5d1d39f53777.png)

Browser console:
![screen_2021 03 14 001](https://user-images.github

[2021-03-15 08:41] b-m-f commented on #182
Hi @squromiv ,

can you please paste you docker-compose.yml file?

Make sure to anonymize it.

Also, did you make sure to set the `ALLOWED_ORIGIN` to `http://51.XXX` ?

[2021-03-15 09:56] squromiv commented on #182
Something like that (changed IP of the VPS to fake)
`version: "3.4"

services:
  WirtBot:
    image: bmff/wirtbot:latest
    container_name: WirtBot
    ports:
      - 53:53
      - 80:80
      - 3030:3030
      - 10101:10101/udp
    restart: "unless-stopped"
    cap_add:
      - NET_ADMIN
    environment:
      - "ALLOWED_ORIGIN=http://51.43.118.127/"
      - "DNS_UID=1003"
      - "DNS_GID=1003"

[2021-03-15 14:52] b-m-f commented on #182
@squromiv please set the API endpoint to the Allowed origin as well.

You can find this at the top of the dashboard.

The default is 'wirtbot.wirt.internal', but only works if already connected.

[2021-03-15 18:13] squromiv commented on #182
I`m so sorry, because don`t understand clearly, how it works.
When I click "Connect" and redirected to dashboard - does it mean, that I am connected?
![screen_2021 03 15 0024](https://user-images.githubusercontent.com/15985877/111200820-30e77180-85d3-11eb-8e2a-a7288ef95f6d.png)

[2021-03-15 19:06] squromiv commented on #182
So, I have changed to this configuration
![888](https://user-images.githubusercontent.com/15985877/111207406-a440b180-85da-11eb-85a3-34628d6108d2.png)

[2021-03-16 08:00] b-m-f commented on #182
Hi @squromiv,

can you please remove the `http://` from `http://51.43.118.127:3030`.

Also thanks for the screenshots.

By connected I mean connected to the Wirtbot via WireGuard.

Right now you are still in the setup stage, where you communicate with the Host machine of the WirtBot unencrypted over normal network interfaces.

Once the setup is done and you connect via the WireGuard configs you wi

[2021-03-16 08:17] squromiv commented on #182
I have removed `http://` and have the same errors. Tried in different browsers.

[2021-03-16 08:22] b-m-f commented on #182
Could you attach the console error again?

Please also try removing the trailing slash from "ALLOWED_ORIGIN=http://51.43.118.127/"

[2021-03-16 08:24] squromiv commented on #182
Could you also make some modifications to the setup page? - A button like "Save settings" or "Add server". Because it is quite annoying to see such errors every time a user changes one symbol.

[2021-03-16 08:36] squromiv commented on #182
![screen_2021 03 16](https://user-images.githubusercontent.com/15985877/111279592-e48c4800-864b-11eb-95f9-e2cd5e2b8664.png)

[2021-03-16 08:50] b-m-f commented on #182
Okay nice. New error message. 401 unauthorized.

This could mean two things:

- you restarted the WirtBot container without entering the public key from the DashBoard as an environment variable -> this generates a new keypair, meaning your dashboard is using outdated keys now : https://wirt.network/documentation/setup.html#setting-up-your-network
- An error in the Core -> check the logs with `dock

[2021-03-16 10:40] b-m-f commented on #182
@squromiv you forgot to black out the IP on the last Screenshot!

[2021-03-16 11:36] squromiv commented on #182
Great support. I deleted current docker container, recreated it. Copied keypair-string from logs, modified "WirtBot API host" and "IP address" to IP of my VPS. And finally

![screen_2021 03 16 001](https://user-images.githubusercontent.com/15985877/111302851-ef070b80-8664-11eb-8659-a8c1bb39a8a7.png)

[2021-03-16 12:01] squromiv commented on #182
But faced with another problem:
Added a device->downloaded config->imported on client machine successfully

Added a device->checked the box "Routed"->downloaded config->importing on client fails

![screen_2021 03 16 001](https://user-images.githubusercontent.com/15985877/111305729-5d999880-8668-11eb-995d-e52b9c1b4d08.png)

![screen_2021 03 16 001_new](https://user-images.githubusercontent.com/1598

[2021-03-16 12:28] b-m-f commented on #182
Hey @squromiv ,

first of all glad it worked.

For the IP I am actually not sure.
There might be a bug here.

You would need the IPv6 equivalent of 0.0.0.0/0 in IPv4 in that config.

If you can figure that out and try it I can fix this in the config generation if that is the issue.

[2021-03-17 07:28] squromiv commented on #182
Ok. Downloaded *.conf file of client config, edited and import was successful. Let`s close this issue and discuss on [reddit](https://www.reddit.com/r/WirtBot/comments/m0j309/after_about_a_year_of_development_wirtbot_is_now/), because i have some other questions.

[2021-03-17 07:28] #182 closed

[2021-03-26 11:12] squromiv opened #183 ""Routed" mode results in inaccessible web"
I managed to setup Wirtbot, clients were able to ping each other and server. DNS server also was working.
Then I switched to "Routed" mode. And had no internet access. Pages can`t load. Ping between clients still exists.
Checked on two different VPSs and setups.

[2021-03-26 11:18] squromiv opened #184 "Incorrect IPV6 address in generated config files for "Routed" mode"
It looks like
`AllowedIPs = 0.0.0.0/0,0001:0000:0000:0000:0000:0000:0000/0`

But native wireguard clients don`t support this format. So importing such a profile fails.

[2021-03-26 12:10] dickiesanders commented on #184
Can you try: 0.0.0.0/0, ::/0

[2021-03-26 13:01] b-m-f commented on #184
@dickiesanders thats the correct solution :)

The problem is at https://github.com/b-m-f/WirtBot/blob/master/Interface/src/lib/wireguard.js#L19

[2021-03-29 08:11] squromiv commented on #183
Am I the only person, having such a trouble? I tested again and had the same result.

[2021-03-29 17:01] b-m-f commented on #183
@squromiv I am looking into this.

[2021-03-29 17:22] b-m-f commented on #183
So, a little output.

As of WirtBot version 2 everything was moved inside of a docker container. During this transition I have missed to add a container internal Firewall to masquerade traffic when being forwarded from other machines in the network.

## The fix
This assumes the default subnet `10.10.0.0/24`

1. `docker exec -ti WirtBot /bin/bash`
2. `apt install iptables`
3. `iptables -t nat -A PO

[2021-03-29 17:51] b-m-f opened #185 "Document release flow"
Write down how to properly release the project

[2021-03-29 17:54] b-m-f commented on #183
Thinking about this abit more I think I will rather do this using `nftables`

[2021-03-29 18:24] #184 closed

[2021-03-30 11:54] squromiv commented on #183
Thanks. It works. Also waiting for global solution with docker.
---
Another one question. I can ping wirtbot server by IP from clients. How to ping clients from server? It fails.

[2021-03-30 18:53] b-m-f commented on #183
Hi @squromiv

Pinging the clients should work. But `ping` is not part of the Container.

If you want to use it first install with `apt install inetutils-ping`.

I have also found a better solution to the problem of this issue.

All traffic that enter via the WireGuard interface but is destined for another Interface will be Masqueraded. No need to care about the subnet variable.

The fix is done.

[2021-03-30 18:59] b-m-f commented on #183
Please note that
[code]
Needs to be added to the docker-compose file for proper IPv6 support.

This is added to the setup documentation as well

[2021-03-30 21:03] #183 closed

[2021-03-31 06:46] squromiv opened #189 "v. 2.6.3 no access to internet with "Routed" mode"
Same problem.
Also "docker logs -f WirtBot":
![screen_2021 03 31 001](https://user-images.githubusercontent.com/15985877/113101937-fb16cf80-9205-11eb-8514-f7c816098c54.png)

[2021-03-31 07:02] b-m-f commented on #189
One error in the logs should be ok on first start.

Can you show the output of

[code]

[2021-03-31 07:08] squromiv commented on #189
![screen_2021 03 31 002](https://user-images.githubusercontent.com/15985877/113104279-04556b80-9209-11eb-9fc5-4fca2ec2b505.png)

[2021-03-31 07:13] b-m-f commented on #189
Sorry,

inside of the container I mean.

[2021-03-31 07:26] squromiv commented on #189
![screen_2021 03 31 003](https://user-images.githubusercontent.com/15985877/113106530-8b0b4800-920b-11eb-8ced-a20787273f5a.png)

[2021-03-31 07:43] squromiv commented on #189
Yes.
![screen_2021 03 31 006](https://user-images.githubusercontent.com/15985877/113108693-ef2f0b80-920d-11eb-894b-c8bf515e9326.png)

[2021-03-31 07:51] b-m-f commented on #189
OK.
Maybe something slipped through.

Will test this again later.

[2021-03-31 12:29] squromiv opened #190 "To ping subnet"
I can`t ping container subnet from host machine. This function works only in "docker exec -ti WirtBot /bin/bash". Should I set "network_mode: host" in docker-compose.yml, in order to ping?

[2021-03-31 13:55] b-m-f commented on #190
Yes. The host machine is not part of the network unless `network_mode: host` is set.

Will add this to the FAQ. Cheers

[2021-03-31 14:15] squromiv commented on #190
Thanks a lot. I coudn`t understand what`s wrong in my set up.

So I`ve tried:
![screen_2021 03 31 007](https://user-images.githubusercontent.com/15985877/113158224-45b73c80-9244-11eb-8ffa-59484d4f09a8.png)
Unsuccesful
![screen_2021 03 31 008](https://user-images.githubusercontent.com/15985877/113158623-a0509880-9244-11eb-8df6-e5a03ea72d51.png)

[2021-03-31 14:27] dickiesanders commented on #190
@squromiv - comment out or remove the "ports" section in your docker-compose.yml file. When using `network_mode: host` the port bindings do not matter.

[2021-03-31 14:37] squromiv commented on #190
![screen_2021 03 31 009](https://user-images.githubusercontent.com/15985877/113162248-ca578a00-9247-11eb-9db9-aaf24160f61d.png)

[2021-03-31 14:39] b-m-f commented on #190
Yup, this is not related to WirtBot, but your host machine. Try removing that section.

[2021-03-31 14:47] squromiv commented on #190
Final docker-compose.yml
![screen_2021 03 31 0010](https://user-images.githubusercontent.com/15985877/113163359-c2e4b080-9248-11eb-8f38-85049fa422ab.png)
Container runs. But no ping from the host to subnet. What is wrong now?

[2021-03-31 15:02] dickiesanders commented on #190
Would you mind sharing exactly what you are trying to test?  You won't be able to ping the container since you've bound the container network to your host network. i.e, open your browser to `HTTP://**HOST_IP**:80` and you should see the wirtbot webpage.

Generally, when doing something port-specific with containers using `ping` is not the best utility for troubleshooting.

[2021-03-31 18:48] b-m-f commented on #189
Hi @squromiv,

I have dug deeper on this and basically ended the research [here](https://github.com/moby/moby/issues/20559).

To get routed IPv6 working too many things are required at the moment.

- Make your docker daemon aware of IPv6 https://docs.docker.com/config/daemon/ipv6/
- Making sure you choose the subnet assigned to you by your hoster, as a **global** and not **link-local** IPv6 addres

[2021-03-31 19:03] b-m-f commented on #190
@squromiv
If you want to ping Network clients from your Host machine - that is the machine running the WirtBot container - you will still need to set up the correct routing manually, see the [official WireGuard quickstart](https://www.wireguard.com/quickstart/).

Use `network_mode: host` is only making the interface available on the Host machine (and removes some networking layers for speed!) but

[2021-03-31 19:04] b-m-f commented on #190
@dickiesanders thanks for helping out! :)

Will close this issue now @squromiv, since the wiring is outside the scope of WirtBot.

[2021-03-31 19:04] #190 closed

[2021-03-31 19:58] squromiv commented on #189
@b-m-f
Most likely it is very interesting for technically skilled persons, but I am not like that. :) So what should I do until the best solution will appear? To use the [fix](https://github.com/b-m-f/WirtBot/issues/183#issuecomment-809560175) with manual install of iptables? Is it possible to include this in docker image? Sorry for stupid questions.

[2021-04-02 07:08] b-m-f commented on #185
Added docs folder in 2.6.4

[2021-04-02 07:08] #185 closed

[2021-04-02 08:20] b-m-f commented on #189
Hi @squromiv,

looks like you are using a hybrid setup.
But there was indeed a problem left in the firewall configuration.

Version 2.6.5 is currently running through the CI pipeline and should be available in a few hours.
It should hopefully fix your problem.

I just tested it on a fresh installation.

Please just leave this issue open though, as pure IPv6 still can not work

[2021-04-02 09:56] squromiv commented on #189
Hi, Maximilian. I do not know how to name it, but I use standard WirtBot docker container with added commands, proposed by you.

[code]
It simply works. And due to my low tech skills, I do not understand, how the discussed issue  is connected to "pure IPv6 clients", because clients, I tested, were not "pure IPv6" (as I understand it).

[2021-04-02 10:10] b-m-f commented on #189
Yup, exactly.

So I think that your issue will be resolved in **v2.6.5**. Should be online soon.

There was a problem in the firewall configuration.

[2021-04-02 16:14] squromiv commented on #189
It looks like working. Very quick fix. I will continue to test it

[2021-04-04 06:54] squromiv opened #193 "Config implementation"
Set up wirtbot->added one client->made backup of dashboard->added a second client->cleaned cache of a browser->restored backup->message, that **config updated** successfully

![screen_2021 04 04 002](https://user-images.githubusercontent.com/15985877/113500880-3bd65780-952a-11eb-892c-c9e2c931006a.png)

So on the configuration page I see one device
![screen_2021 04 04 007](https://user-images.githu

[2021-04-04 07:10] squromiv commented on #193
Why don't you simply store and load options from server side to dashboard?
Please, take a look at [https://github.com/perara/wg-manager](wg-manager)
![screen_2021 04 04](https://user-images.githubusercontent.com/15985877/113501465-ebf98f80-952d-11eb-94b9-a5fac1966594.png)

[2021-04-04 07:17] squromiv commented on #193
Also, in my opinion, too much space takes one device config in Wirtbot. Think about doing it collapsed as it is done in wg-manager and similar software.

[2021-04-04 07:28] b-m-f commented on #193
Hi @squromiv

So, for the first problem this should be a bug.

Will look into this.

# server side data
Design choices on the project architecture are deliberate and won't be challenged until they hit a real blocker.
Client side control makes management easier for me.

# UI change
As for the collapsing. Seems like a neat feature with low priority for me.
Might implement this at some point in the f

[2021-04-04 09:06] b-m-f commented on #193
@squromiv
There was indeed a bug in device deletion.

Maybe that fixed the issue you saw, because I have created a test for your described scenario and was not able to reproduce.

The backups seem to correctly overwrite old configs. Atleast this is true for version **v2.6.6**. Releasing this today, so you might want to retry.

[2021-04-10 16:06] b-m-f commented on #193
@squromiv is backup working for you now?

If so I'd go ahead and close this

[2021-04-11 10:44] squromiv commented on #193
I will check today.

[2021-04-14 11:20] squromiv commented on #193
@b-m-f  Yes. Backup restore is now working, as well as "Delete" button. Let`s close this issue. Thanks.

[2021-04-14 11:38] #193 closed

[2021-04-14 12:21] squromiv opened #196 "Android QR config"
WIrtbot v.2.6.7
Added new android device -> QR generated -> Native wireguard android client error "Unable to import, unknown section in config".

[2021-04-14 12:27] b-m-f commented on #196
Hey @squromiv,

thanks for all the tests!

I will check this out asap

[2021-04-21 13:27] squromiv commented on #196
Is there any updates?

[2021-04-21 16:47] b-m-f commented on #196
Hi @squromiv ,

I'm quite busy at the moment.

I hope I'll be able to push a fix by Monday!
Will ping you here.

[2021-04-25 14:35] b-m-f commented on #196
Hey @squromiv.

I just tried to reproduce this, but  could not get my phone to report any errors.

Is there any more output from the WireGuard App?

Which versions are you using?

Also could you provide some infos on the config for that device?

[2021-04-25 14:54] squromiv commented on #196
![Screenshot_20210425-175208_WireGuard](https://user-images.githubusercontent.com/15985877/115998295-49de3c00-a5ef-11eb-8af7-48b717c1b1ad.jpg)

[2021-04-25 14:56] squromiv commented on #196
Wirtbot v2.6.7.
With previous version application worked correctly.

[2021-04-25 15:26] squromiv commented on #196
I downloaded config manually and compare with old config files. The only difference that I see: is "space" character after comma in string
`AllowedIPs = 0.0.0.0/0, ::/0`
I don`t know whether it is important or not for generating QR.

[2021-04-25 16:40] b-m-f commented on #196
Nice catch.
I will push a version without the space. Let's see if it helps!

[2021-04-25 16:43] b-m-f commented on #196
Ok weird.

There is no space when I am creating the configs. Everything imports fine, even with routed enabled.

Maybe there is a problem with old configs of yours?

Can you try to remove the device and readd it?

[2021-04-25 17:14] squromiv commented on #196
When I download config manually, it is imported into Android app correctly. But if I try to catch the same config by QR, mentioned error appears.

[2021-04-25 17:26] squromiv commented on #196
Current version is without the space. So let`s add it and try.

[2021-04-25 19:33] squromiv opened #197 "docker-compose with "network_mode: host""
I added "network_mode: host" do docker-compose file. After that
![screen_2021 04 25](https://user-images.githubusercontent.com/15985877/116001390-e65b0b00-a5fc-11eb-9a7c-0ddc955700fe.png)
Ok. Deleted section with ports
![screen_2021 04 25](https://user-images.githubusercontent.com/15985877/116006806-82910c00-a615-11eb-90d6-417f70015fdf.png)
And rerun docker-compose
![screen_2021 04 25](https://use

[2021-04-26 15:55] b-m-f commented on #197
Can you try to delete that line with `disable_ipv6`.

I think this only works when using docker networking.

If that is the case I am going to update the documentation.

[2021-04-26 19:20] squromiv commented on #197
Of course, I did it. The result is unpromising. Take a look at [screenshot](http://s01.geekpic.net/di-ESYB8G.jpeg), please.

[2021-04-26 19:43] b-m-f commented on #196
Did it work for you?

[2021-04-26 19:45] squromiv commented on #196
I don`t know how to build docker image. So I am still waiting your fix in order to try it. :-D

[2021-04-26 20:35] b-m-f commented on #196
So is 2.6.7 not the latest one that you can pull?

[2021-04-26 20:46] squromiv commented on #196
I am testing docker container with v.2.6.7 exactly.
![screen_2021 04 26](https://user-images.githubusercontent.com/15985877/116147751-c30d8a00-a6e8-11eb-852e-769b689ff140.png)
So in this case there is no "space" character. And Android app fails. Try to add it and I will check.

[2021-04-26 20:58] squromiv commented on #197
Perfectly. I`ve found out, that [it is used](https://www.linuxuprising.com/2020/07/ubuntu-how-to-free-up-port-53-used-by.html) by "systemd-resolved". So we need to free it up.

Finally, in order to use "network_mode: host" in docker-compose file, we need
1) to delete these strings:
[code]
2) to free up port 53, used by another service by default in Ubuntu

[2021-04-27 08:03] b-m-f commented on #196
Strange. As this works fine for me.

Could you send me the QR code for testing to `max` AT `ehlers.berlin` ?

[2021-04-28 06:56] squromiv commented on #196
Have you received my email?

[2021-04-28 07:01] b-m-f commented on #196
@squromiv yup, will test this on a free day :)

[2021-04-28 16:38] b-m-f commented on #196
@squromiv I am getting a similar error with your QR code.

I assume this is due to the stretched picture. Can you try to open the QR code or download it and try again?

In that case the **CSS** needs to be fixed to ensure that it is always displayed correctly

[2021-04-29 08:36] squromiv commented on #196
It makes me crazy. Recreated WirBot container many times, checked in different browsers, cleaned cache, rebooted system, etc. And had the same result: QR recognition failed. But now generated pictures looks different: stretched in Google Chrome v. 75.0.3770.90 and "squared" in Firefox 88.0. So squared picture is imported successfully.

[2021-04-29 10:08] b-m-f commented on #196
Okay. What a strange edge case.

Thanks for all your effort!

Browsers really are a beast to work with correctly.

I will take some time tonight to get this fixed in Chrome and add a test case to make sure it stays correct in future versions.

[2021-04-29 10:29] squromiv commented on #196
Really strange. )))) When move window splitter (divides Wirbot and developer`s console page), sizes of the picture change.
![vid1](https://user-images.githubusercontent.com/15985877/116537473-f588d400-a8ee-11eb-8144-ea79793d2ea0.gif)

[2021-04-29 17:54] b-m-f commented on #196
v2.6.8 should fix this.

Should be in the docker registry in a few hours. GihubCI takes quite a while to build for multiple CPU architectures

[2021-04-29 20:31] b-m-f commented on #196
Something is wrong with the Github CI. I will revisit this tomorrow

[2021-04-30 17:21] squromiv opened #200 "Restoring from backup goes wrong"
Configured Wirtbot --> set "ALLOWED_ORIGIN=http://wirtbot.wirt.internal" in docker-compose.yml   --> restarted container --> connected from client to host with Wireguard --> changed Wirtbot API host on dashboard to "wirtbot.wirt.internal" --> made backup of dashboard --> cleaned cookies in browser --> entered the dashboard by http://wirtbot.wirt.internal --> restored backup --> it said, that was r

[2021-05-01 19:15] b-m-f commented on #200
Hm, interesting.

Have you tried to restart the WirtBot with `docker restart WirtBot` ?

I think I encountered a similar situation where all clients were dropped.

I believe that this will need some extended research into WireGuard and how the interface gets updated.

[2021-05-01 21:12] b-m-f commented on #196
Hi,

managed to manually push the latest version.

Can you try 2.6.8?

[2021-05-03 09:29] squromiv commented on #196
I have tried build 2.6.9. QR-generator looks as fixed. Thank you.

[2021-05-03 09:29] #196 closed

[2021-05-03 09:40] squromiv commented on #200
Yep. No sense.

Also I noticed some error during restoring.
![vid2](https://user-images.githubusercontent.com/15985877/116861333-9cc97c00-ac0b-11eb-966d-11ede49db2f2.gif)

API host - wirtbot.wirt.internal:3030)
Address in address bar - wirtbot.wirt.internal
Docker-compose file - "ALLOWED_ORIGIN=http://wirtbot.wirt.internal"

So what does Wirbot not like???

[2021-05-03 10:22] squromiv commented on #183
Did you change something, connected with this option in v 2.6.9? The issue seems to be returned

[2021-05-03 17:37] b-m-f commented on #183
Hmm, shouldn't be.

The only thing that was changed are QR code and some dependencies.

I will be super busy this week, but I hope to get the weekend to investigate the issues you found!

[2021-05-03 17:40] b-m-f commented on #200
Are there any errors in the console?

Could you let me know if the requests are sent to the correct API by checking the browsers network tab?

Maybe something is wrong there.

I already commented on another issue that I am super busy this week.
But I'll go deeper into the issues on the weekend.

[2021-05-03 17:40] b-m-f commented on #200
Maybe you could also send me a backup file via email?
So I can test the exact same setup.

[2021-05-08 10:15] b-m-f commented on #200
Hi @squromiv,

I have identified a possible issue and will try to resolve this today.

Will update you

[2021-05-08 13:51] b-m-f commented on #200
Have release 2.7.0 which should hopefully fix this

[2021-05-09 13:43] b-m-f commented on #200
Hi @squromiv ,

did you manage to try it out?

[2021-05-09 18:31] squromiv commented on #200
Hi, Maximilian. Sorry I'm a little busy right now. Will test later.

[2021-05-09 18:36] b-m-f commented on #200
No worries!

[2021-05-11 16:15] b-m-f opened #215 "Blocklists dont immediately apply"
Blocklists only apply after a container restart or after 24 hours when changed.

Related issue https://github.com/c-mueller/ads/issues/47

When fixed upstream this should be solved.

[2021-05-17 11:58] b-m-f commented on #200
Hi @squromiv ,

I have introduced a new bug. Going to update this today and add a test case

[2021-06-04 12:25] b-m-f commented on #200
Marking this as resolved @squromiv

[2021-06-04 12:25] #200 closed

[2021-06-07 15:40] b-m-f opened #225 "Badly formatted blocklists cause crash on start"
# Error
![Screenshot from 2021-06-07 17-37-22](https://user-images.githubusercontent.com/2843450/121048828-702ef400-c7b7-11eb-9f17-4c89001a7264.png)
# Problem
![Screenshot from 2021-06-07 17-38-47](https://user-images.githubusercontent.com/2843450/121048854-791fc580-c7b7-11eb-939a-ff649b710a78.png)

[2021-06-14 16:45] b-m-f commented on #225
fixed in 2.8.0

[2021-06-14 16:45] #225 closed

[2021-06-18 09:34] b-m-f commented on #215
After giving this more thought, the blocklists and blockhosts will be removed.

By keeping the basic DNS forwarding in place a downstream app like pi-hole can serve this purpose better

[2021-06-20 18:19] #215 closed

[2021-06-20 18:21] b-m-f opened #228 "Integrate with Pi-Hole"
Allowing forwarding to PiHole, while redirecting all queries from PiHole to the configured remote DNS server.

This will allow to use DNSoverTLS and Pihole together.

Documentation on how to do the setup in WirtBot and Pihole is required for this issue to be resolved.

[2021-06-20 18:23] b-m-f opened #229 "[Interface] Add navigation menu"
Add navigation menu to the app.

Widgets should become components and be loaded via the navigation items.

Design will follow.
Due to the design decision on widgets, the decoupling to make this possible is already given.

No deeplinks. Use integrated browser history

[2021-06-20 18:48] b-m-f opened #230 "Update docs on "How to verify WirtBot is secure""
Documentation article on how:
- to use the developer tools to verify the requests that are sent
- Docker container network monitoring
- check the wg interface on the host and inside the container to verify

[2021-08-10 19:50] #228 closed

[2021-09-01 08:11] oddife opened #238 "MY Device port Static"
can we have my device ports set to a specified port as I'm using it on oracle cloud and I have to open ports manually which creates a problem when I connect using the client as the port is randomly generated every time

[2021-09-01 12:18] b-m-f commented on #238
So to clarify:

You want to add a port to a device configuration in the dashboard?

[2021-09-02 05:40] oddife commented on #238
Yes so i can open that port when i configure the user

[2021-09-02 06:58] b-m-f commented on #238
Okay.

I will take a look in the coming days.

If possible in Wireguard the Dashboard will need a design change to accommodate the amount of fields that will be present in a DeviceRow.

ETA: 2-3 weeks

[2021-09-02 08:44] oddife commented on #238
I think it's possible in wire guard as pi VPN uses it
thank you for the help appericated

[2021-09-06 18:10] b-m-f commented on #238
Hi,

the feature will be release in version 3.1.0.

I will trigger the CI in a few minutes when the testing suite has finished.

The version should be release on dockerhub in the next few hours.

Enjoy

[2021-09-06 18:13] b-m-f opened #240 "Update screenshot with latest version"

[2021-09-06 18:46] oddife commented on #238
Thank you very much you are the man sure its very late here in India were I live with do it tomorrow morning and let you know

[2021-09-07 06:03] oddife commented on #240
![wirbot](https://user-images.githubusercontent.com/33018182/132292351-e4e69a4f-3ad4-4048-8a7e-be62511fae0a.png)

[2021-09-07 06:59] #238 closed

[2021-09-16 16:23] b-m-f opened #241 "Fix sudo use in Makefile"
If the currently executing userID is mapped into the container via variables the use sudo can be avoided in the Makefile altogether.

[2021-10-13 19:21] b-m-f opened #243 "Allow DNS name for forwarding traffic"
Use case:
When another container is running to host a DNS server, such as pihole, it is not easy to get the correct IP address of that container.

Supporting a hostname will fix this, as the container runtime can resolve the name to the correct IP automatically

[2021-10-13 19:21] b-m-f opened #244 "Server Port not saved in Backup"
Restoring a backup resulted in a missing Server Port from the Backup.

This should be fixed

[2021-10-18 16:15] b-m-f opened #245 "Reduce docker image layers"

[2021-10-18 16:15] b-m-f opened #246 "Document all ENV variables that are available on the Image inside the Dockerfile"

[2021-10-18 19:18] #243 closed

[2021-11-06 20:01] b-m-f commented on #244
Fixed in https://github.com/b-m-f/WirtBot/pull/249

[2021-11-06 20:01] #244 closed

[2021-11-06 20:01] b-m-f commented on #240
Fixed in https://github.com/b-m-f/WirtBot/pull/249

[2021-11-06 20:01] #240 closed

[2022-04-04 07:37] b-m-f opened #269 "Glibc needs to be upgraded to version 2.29"

[2022-04-04 07:38] b-m-f commented on #269
`prometheus_wireguard_exporter: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.29' not found (required by prometheus_wireguard_exporter)`

[2022-04-04 07:41] b-m-f commented on #269
Available in latest debian: https://packages.debian.org/source/stable/glibc

Final image needs to be upgraded to debian 11

[2022-04-04 10:57] #269 closed

[2022-04-06 12:31] #229 closed

[2022-09-12 05:10] b-m-f opened #283 "Fix CoreDNS user"
Currently coreDNS is running as root inside the container so that it can bind to port 53.

The root user can do this because it can get the capability `CAP_NET_BIND_SERVICE`.

Maybe there is a way to give this capability to the **coredns** user inside the container.

## Additional steps

If the user has the correct capability the coredns binary must be run as the **coredns** user by changing

[cod

[2022-11-09 14:11] padima2 opened #286 "add new device not working"
hi @b-m-f

i m trying to set this up on an ubuntu 20 , and i m not able to add any new device ,there is no response when clicking on it.
i ve tried chrome and firefox

any solution?

[2022-11-09 19:33] b-m-f commented on #286
Hi @padima2 ,

Do you get any error message in the UI?
Or is there any error in the Browsers developer console?